body{
  margin: 40px;
  background-color: black;
}
.post{
  background-color: white;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.post-header{
  display: flex;
  padding: 10px;
  align-items: center;
}
.header-text {
  padding-left: 8px;
}
.icon-header {
  margin-left:auto;
}
.post-image{
  position: relative;
  display:flex;
  flex-direction: column;
}
img {
  width: 100%;
  display: block;
}
.post-icons-left {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.post-icons-right{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.post-body {
  padding: 10px;
} 